@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h1, h2 {
    color: #252525;
    font-family: 'Oswald', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 4px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

#logo {
    font-size: 200%;
    line-height: 75px;
    text-decoration: none;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    display: flex;
}

#menu li {
    list-style: none;
    margin-right: 30px;
}

#menu a {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    text-decoration: underline;
}

#section-hero {
    overflow: hidden;
    position: relative;
}

#hero-img {
    background: url(../imgs/hero-image.webp) no-repeat center/cover;
    animation: hero-zoom 5s forwards;
    height: 600px;
    width: 100%;
}

.hero-text, .hero-text h2 {
    color: #fff;
}

.hero-text {
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    font-family: 'Oswald', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;
    position: absolute;
    bottom: 30px;
    right: 150px
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}